{% extends "admin/change_form.html" %}

{% load static %}  <!-- Добавьте эту строку в начало файла -->

{% block extrahead %}
    {{ block.super }}
    <link href="{% static 'css/init.css' %}" rel="stylesheet">
    <script src="{% static 'js/init.js' %}"></script>
{% endblock %}

{% block after_field_sets %}
  <div class="col-12 col-lg-9">
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <label for="id_images">Загрузка изображений:</label>
                <input type="file" name="images" id="id_images" multiple>
            </div>
        </div>
    </div>
</div>
{% endblock %}
